################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api_Inventario/app.db-shm
/Api_Inventario/app.db-wal
