<div class="input-box">
    <label>Procurar:</label>
    <input type="text" placeholder="Digite o item a ser pesquisado">
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Modelo</th>
            <th>Descrição</th>
            <th>Modelo</th>
            <th>Quantidade</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>

<tbody>
    <tr>
        <td></td>
        <td>Impressora</td>
        <td>Hp deskjet</td>
        <td>impressora padrao</td>
        <td>5</td>
        <td><button>Adicionar</button></td>
        <td><button>Diminuir</button></td>
        <td><button>Editar</button></td>
        <td><button>Excluir</button></td>
    </tr>
</tbody>