<button routerLink="/cadastro-item">Cadastrar novo item</button>
<div class="input-box">
    <label>Procurar item:</label>
    <input type="text" placeholder="Digite o item a ser pesquisado" (input)="Search($event)">
</div>

<table class="table">
    <thead>
        <tr>
            <th>Cod Patrimonio</th>
            <th>Nome</th>
            <th>Modelo</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let item of items">
        <tr>
            <td>{{item.codPatrimonio}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.modelo}}</td>
            <td>{{item.descricao}}</td>
            <td>{{item.quantidade}}</td>
            <td><button>+</button></td>
            <td><button>-</button></td>
            <td><button>Editar</button></td>
            <td><button>Excluir</button></td>
        </tr>
    </tbody>
</table>
